# MacOS
.cache
.DS_Store

# IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.code-workspace

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.d

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Project Ignores
bin/**
build/**
