name: Go - Build

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.23.6
          - 1.24.0

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5.3.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Display Go version
        run: go version

      - name: Install Go Dependencies
        run: go get ./...

      - name: Execute Go Build
        run: go build -v ./...

      - name: Execute Go Test
        run: go test -v ./...

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5.3.0
        with:
          go-version: 1.22.10
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6.5.0
        with:
          version: v1.64.5
          args: --timeout=10m
