name: Go

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.19.11', '1.20.6' ]

    steps:
      - uses: actions/checkout@v3.5.2
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4.0.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Display Go version
        run: go version

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - name: Setup Go
        uses: actions/setup-go@v4.0.0
        with:
          go-version: 1.19.11

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.4.0
        with:
          version: v1.52.2
          skip-pkg-cache: true
          skip-build-cache: true
          args: --timeout=10m
