name: Go - Release

on:
  push:
    tags:
      - "*"

env:
  GO_VERSION: 1.24.2

concurrency:
  # Cancels pending runs when a PR gets updated.
  group: ${{ github.head_ref || github.run_id }}-${{ github.actor }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - run: git fetch --force --tags

      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5.4.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Execute GoReleaser
        uses: goreleaser/goreleaser-action@v6.3.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
